.elementor-660 .elementor-element.elementor-element-badb18c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:43px;margin-bottom:43px;padding:0px 35px 0px 35px;}.elementor-660 .elementor-element.elementor-element-badb18c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-660 .elementor-element.elementor-element-7060b7a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-660 .elementor-element.elementor-element-7060b7a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-660 .elementor-element.elementor-element-7060b7a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-end;}.elementor-660 .elementor-element.elementor-element-029f303{display:block;text-align:right;width:auto;max-width:auto;}.elementor-660 .elementor-element.elementor-element-029f303 .aux-vertical .aux-menu-depth-0 .aux-item-content{display:block;text-align:right;}.elementor-660 .elementor-element.elementor-element-029f303 .aux-burger:before,  .elementor-660 .elementor-element.elementor-element-029f303 .aux-burger:after, .elementor-660 .elementor-element.elementor-element-029f303 .aux-burger .mid-line{border-color:#FFFFFF !important;}.elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-menu .aux-menu-item > .aux-item-content{color:#FFFFFF33;font-family:"Poppins", Sans-serif;font-size:40px;font-weight:bold;text-transform:capitalize;line-height:55px;padding:10px 0px 10px 0px;}.elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-menu .aux-master-menu{text-align:right;}@media(min-width:768px){.elementor-660 .elementor-element.elementor-element-7060b7a{width:100%;}}/* Start custom CSS for aux_menu_box, class: .elementor-element-029f303 */.elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-menu:before{
	content:'';
	width:965px;
	height:965px;
   background-color: transparent;
   background-image: linear-gradient(360deg, rgba(26,26,26,0.20) 10%, rgba(33,33,33,0.50) 100%);
	position:absolute;
	border-radius:50%;
	top:-105px;
	right:-300px;
	z-index:0;
} 
.elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-menu:after{
	content:'';
	width:965px;
	height:965px;
   background-color: transparent;
    background-image: linear-gradient(360deg, rgba(26,26,26,0.20) 0%, rgba(33,33,33,0.50) 100%);
	position:absolute;
	border-radius:50%;
	top:350px;
	left:-250px;
	z-index:0;
} 
 .elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-menu{
	max-width:1675px;
	overflow: visible;
	padding: 0 35px;
}
 .elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-popup .aux-panel-close{
	  border: none;
	  width: 40px;
    height: 40px;
	  right: 135px;
    top:40px;
}

.elementor-660 .elementor-element.elementor-element-029f303 .aux-fs-menu .aux-master-menu .aux-menu-item {
    text-align: right;
}
.elementor-660 .elementor-element.elementor-element-029f303 .aux-menu-item.current-menu-item a {
     color: #2C63E2 !important;
 }
 
 .elementor-660 .elementor-element.elementor-element-029f303 .aux-panel-close .aux-close:before,
  .elementor-660 .elementor-element.elementor-element-029f303 .aux-panel-close .aux-close:after{
     background-color: #FFF;
 }/* End custom CSS */